PORT=5000
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/swiftie?retryWrites=true&w=majority
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"..."}
CLIENT_URL=http://localhost:3000
NODE_ENV=development
